<!-- your-component.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>opções</ion-title>
    <ion-toggle aria-label="Dark toggle" color="dark" [checked]="true" class=""></ion-toggle>

  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="opcao-container">
    <ion-card class="opcao">
      <ion-card-header>
        <ion-card-title>Perfil</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="opcao">
      <ion-card-header>
        <ion-card-title>Dados</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="opcao">
      <ion-card-header>
        <ion-card-title>Sair</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="opcao">
      <ion-card-header>
        <ion-card-title>sa</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="opcao">
      <ion-card-header>
        <ion-card-title>Dados</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="opcao">
      <ion-card-header>
        <ion-card-title>Dados</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  
</ion-content>
