<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Opções</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="opcao-container">
    <ion-card class="opcao">
      <ion-card-header>
        <ion-card-title>Perfil</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="opcao">
      <ion-card-header>
        <ion-card-title>Favoritos</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="opcao">
      <ion-card-header>
        <ion-card-title>Notificações</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="opcao">
      <ion-card-header>
        <ion-card-title>Configurações</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="opcao">
      <ion-card-header>
        <ion-card-title>Privacidade</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="opcao">
      <ion-card-header>
        <ion-card-title>Preferências</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="opcao">
      <ion-card-header>
        <ion-card-title>Contato</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="opcao">
      <ion-card-header>
        <ion-card-title>Ajuda</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="opcao">
      <ion-card-header>
        <ion-card-title>Sair</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
